.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  //   grid-template-rows: repeat(, 5vw);
  grid-gap: 15px;
}

.js-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
}
