.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  //   grid-template-rows: repeat(, 5vw);
  grid-gap: 15px;
  list-style: none;
}

.gallery_item {
  border: 2px solid black;
  // border-radius: 5%;
}
.js-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.material-icons {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-bottom: 5px;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
